
.header {
  height: 65px;
  padding: 0 25px;
}

.headerWrapper {
  border-bottom: 1px solid rgba(0,0,0,.15);
  margin: 0 auto;
  width: 100%;
}

.branding {
  padding-left: 1em;
}

@media (min-width: 1025px) {

  .hamburger {
    display: none;
  }

}

@media (max-width: 1024px) {

  .expanded {
    display: none;
  }

}