
.header {
  height: 65px;
  padding: 0 25px;
}

.branding {
  padding-left: 1em;
}

@media (min-width: 1025px) {

  .hamburger {
    display: none;
  }

}

@media (max-width: 1024px) {

  .expanded {
    display: none;
  }

}