
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 45px;
  font-family: franklin;
  margin: 0 auto;
  position: relative;
}

.headerWrapper {
  border-bottom: 1px solid rgba(0,0,0,.15);
  margin: 0 auto;
  width: 100%;
}

.branding {
  padding-left: 1em;
}

.pipe {
  height: 22px;
  border-left: 1px solid #ccc;
  padding: 0 2px;
}

@media (min-width: 1025px) {

  .header {
    height: 65px;
    padding: 0 25px;
  }

  .hamburger {
    display: none;
  }

}

@media (max-width: 1024px) {

  .expanded {
    display: none;
  }

}